<div style="height: 100%; background-color: rgba(0, 0, 0, 0.61);">
    <p>
        A new era of ecommerce is upon us
    </p>
    <p>
        Powered by Livepeer, Polygon, XMTP, Push Protocol, IPFS, ComposeDB, ENS and NFTPort,
    </p>
    <p>liveStore has built a video commerce (vidcommerce) platform that allows for better</p>
    <p>interactivity between Seller and Buyer, fully on-chain!</p>
</div>

<style>
    p{
        color: azure;
        font-weight: 700;
        font-size: 30px;
    }
</style>