<div style="height: 100%; background-color: rgba(18, 71, 230, 0.61); text-align: right;">
    <p>
        Feature rich!
    </p>
    <p>
        List and purchase products completely on chain, complete your sale/purchase in Matic tokens
    </p>
    <p>View product listing videos that provide a better feel of the item on sale.</p>
    <p>Connect with the Seller through video messaging</p>
</div>

<style>
    p{
        color: azure;
        font-weight: 700;
        font-size: 30px;
    }
</style>
